@model List<Yurtlar.Models.ProductViewModel>

@{
    ViewBag.Title = "UrunleriListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center my-4">Satıştaki Ürünler</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Resim</th>
                    <th>Ürün Adı</th>
                    <th>Açıklama</th>
                    <th>Fiyat (₺)</th>
                    <th>Stok</th>
                    <th>Yurt</th>
                    <th>Satıcı Tel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.PImage != null)
                            {
                                var base64 = Convert.ToBase64String(item.PImage);
                                var imgSrc = $"data:image/png;base64,{base64}";
                                <img src="@imgSrc" alt="Ürün Resmi" class="img-thumbnail" />
                            }
                            else
                            {
                                <img src="https://via.placeholder.com/50" alt="Yok" class="img-thumbnail" />
                            }
                        </td>
                        <td>@item.PName</td>
                        <td>@item.PDesc</td>
                        <td>@item.PPrice ₺</td>
                        <td><span class="badge bg-success">@item.PStock</span></td>
                        <td>@item.PKyk</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }

    .img-thumbnail {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
</style>
